{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ECSA
{% endblock %}


{% block content %}
<div class="container">
      <div class="input-group mb-3">

                {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}

                {% endif %}
                {% endwith %} </div>
</div>

<form method="POST" action=/create>
  {{ form.hidden_tag() }}

    <div class="form-row">
       <div class="col">
            {{ form.username.label(class="col-md-4 control-label")}}
            {{form.username(class="form-control", placeholder="UserName")}}
            <ul class="erros">
              {% for error in form.username.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

        <div class="col">
          {{ form.password.label(class="col-md-4 control-label")}}
          {{form.password(class="form-control", placeholder="Password")}}
          <ul class="erros">
            {% for error in form.password.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          {{ form.hrmsid.label(class="col-md-4 control-label")}}
          {{form.hrmsid(class="form-control", placeholder="Password")}}
          <ul class="erros">
            {% for error in form.password.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>


        <div class="col">
          {{ form.department.label(class="col-md-4 control-label")}}
          {{form.department(class="form-control")}}
            <ul class="erros">
            {% for error in form.location.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          {{ form.name.label(class="col-md-4 control-label")}}
          {{form.name(class="form-control")}}
          <ul class="erros">
            {% for error in form.name.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          {{ form.tlhrmsid.label(class="col-md-4 control-label")}}
          {{form.tlhrmsid(class="form-control")}}
          <ul class="erros">
            {% for error in form.tlhrmsid.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          {{ form.crdntrhrmsid.label(class="col-md-4 control-label")}}
          {{form.crdntrhrmsid(class="form-control")}}
          <ul class="erros">
            {% for error in form.crdntrhrmsid.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>



         <div class="col">
          {{ form.manager.label(class="col-md-4 control-label")}}
          {{form.manager(class="form-control")}}
          <ul class="erros">
            {% for error in form.manager.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          {{ form.location.label(class="col-md-4 control-label")}}
          {{form.location(class="form-control")}}
            <ul class="erros">
            {% for error in form.location.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>



          <div class="col">
          {{ form.usergroup.label(class="col-md-6 control-label")}}
          {{form.usergroup(class="form-control")}}
            <ul class="erros">
            {% for error in form.usergroup.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          {{ form.mngrhrmsid.label(class="col-md-6 control-label")}}
          {{form.mngrhrmsid(class="form-control")}}
            <ul class="erros">
            {% for error in form.mngrhrmsid.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>




      <div class="col m-3">
            {{form.CreateUser(class="btn btn-primary btn-lg btn-block")}}
        </div></div>

      </form>

{% endblock %}