{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ECSA
{% endblock %}

{% block content %}
<div class="container text-center">
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}

                {% endif %}
                {% endwith %}
</div>

<div class="d-flex justify-content-center" style="padding:10px;">
    <form method="POST" action="/download">
        {{ form.hidden_tag() }}
            <div class="form-floating">
            {{form.start(type="date", class="form-control")}}
            {{ form.start.label()}}
                <ul class="erros">
                    {% for error in form.start.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="form-floating">
            {{form.stime(class="form-control")}}
                {{form.stime.label()}}
          <ul class="erros">
            {% for error in form.start.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
    </div>

    <div class="form-floating">
          {{form.end(type="date", class="form-control")}}
          {{ form.end.label()}}
          <ul class="erros">
            {% for error in form.end.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="form-floating">
            {{form.etime(class="form-control")}}
            {{ form.etime.label()}}
        </div>

        <div class="container text-center" style="padding:10px">
            {{form.download(class="btn btn-success btn-lg btn-block")}}
       </div>

        </form>
</div>

{% endblock %}