{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
ECSA
{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="/download">
        {{ form.hidden_tag() }}
            <div class="form-row">
            <div class="col-md-5">{{ form.start.label()}}
            {{form.start(type="date", class="form-control")}}
                <ul class="erros">
                    {% for error in form.start.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-5">{{form.stime.label()}}
            {{form.stime(class="form-control")}}
          <ul class="erros">
            {% for error in form.start.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="form-row">
          <div class="col-md-5">
          {{ form.end.label()}}
          {{form.end(type="date", class="form-control")}}
          <ul class="erros">
            {% for error in form.end.errors %}
                  <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-5">
            {{ form.etime.label()}}
            {{form.etime(class="form-control")}}
            </div>
        </div>
        <div class="container">{{form.download}}</div>
        </form>
</div>
{% endblock %}