{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}
ECSA
{% endblock %}

{% block content %}
<div class="container">
      <div class="input-group mb-3">

                {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}

                {% endif %}
                {% endwith %}
      </div>
</div>


<form method="POST" action=/updateadcb/{{id}}>
        {{ form.hidden_tag() }}

        <div class="form-row">

          <div class="col">
            {{ form.customer_name.label()}}
            {{form.customer_name(class="form-control")}}
            <ul class="erros">
              {% for error in form.customer_name.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="col">
            {{ form.customer_email.label()}}
            {{form.customer_email(class="form-control")}}
            <ul class="erros">
              {% for error in form.customer_email.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

  <div class="form-row">
            <div class="col">
            {{ form.nationality.label()}}
            {{form.nationality(class="form-control")}}
            <ul class="erros">
              {% for error in form.nationality.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>


            <div class="col">
            {{ form.salary.label()}}
            {{form.salary(class="form-control")}}
            <ul class="erros">
              {% for error in form.salary.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>

  <div class="form-row">
            <div class="col">
            {{ form.company.label()}}
            {{form.company(class="form-control")}}
            <ul class="erros">
              {% for error in form.company.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

            <div class="col">
            {{ form.ale_status.label()}}
            {{form.ale_status(class="form-control")}}
            <ul class="erros">
              {% for error in form.ale_status.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>

  <div class="form-row">
    <div class="col">
            {{ form.emirates_id.label()}}
            {{form.emirates_id(class="form-control")}}
            <ul class="erros">
              {% for error in form.emirates_id.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>


            <div class="col">
            {{ form.passport_number.label()}}
            {{form.passport_number(class="form-control")}}
            <ul class="erros">
              {% for error in form.passport_number.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>

  <div class="form-row">
            <div class="col">
            {{ form.product_type.label()}}
            {{form.product_type(class="form-control")}}
            <ul class="erros">
              {% for error in form.product_type.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

            <div class="col">
            {{ form.product_name.label()}}
            {{form.product_name(class="form-control")}}
            <ul class="erros">
              {% for error in form.product_name.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>

  <div class="form-row">

            <div class="col">
            {{ form.bank_reference.label()}}
            {{form.bank_reference(class="form-control")}}
            <ul class="erros">
              {% for error in form.bank_reference.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>


            <div class="col">
            {{ form.bank_status.label()}}
            {{form.bank_status(class="form-control")}}
            <ul class="erros">
              {% for error in form.bank_status.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>

  <div class="form-row">
            <div class="col">
            {{ form.application_type.label()}}
            {{form.application_type(class="form-control")}}
            <ul class="erros">
              {% for error in form.application_type.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="col">
            {{ form.submissiondate.label()}}
            {{form.submissiondate(class="form-control")}}
            <ul class="erros">
              {% for error in form.submissiondate.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>
  <div class="form-row">
            <div class="col">
            {{ form.promo.label()}}
            {{form.promo(class="form-control")}}
            <ul class="erros">
              {% for error in form.promo.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>

            <div class="col">
            {{ form.remarks.label()}}
            {{form.remarks(class="form-control")}}
            <ul class="erros">
              {% for error in form.remarks.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
  </div>



  <div class="form-row">
            {% if user.userlevel in ["2","3","4","5"] %}
            <div class="col">
            {{ form.bookingdate.label()}}
            {{form.bookingdate(class="form-control")}}
            <ul class="erros">
              {% for error in form.bookingdate.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
            {% endif %}

            {% if user.userlevel in ["2","3","4","5"] %}
            <div class="col">
            {{ form.cpv.label()}}
            {{form.cpv(class="form-control")}}
            <ul class="erros">
              {% for error in form.cpv.errors %}
                  <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
            {% endif %}
</div>



            <div class="container">
            {{form.submit(class="form-control", class="btn btn-primary btn-lg btn-block")}}
        </div>

      </form>
{% endblock %}
